# SQL

**A)** tipos de datos: 
* char(texto de tamaño fijo), 
* varchar(texto de tamaño variable), 
* int(numerico entero),
* decimal(5,2) -> los parámetros indican: 5 numeros en total, 2 números son decimales
* Booleanos -> 0/1
* date 
* datetime

**B)** operadores:
* AND, OR, BETWEEN, LIKE, IN

## Bloque 1: Pasos iniciales

* **1)** Creación de bases de datos y tablas   
> CREATE DATABASE nueva_base;   
> CREATE TABLE nueva_tabla (    
nombre char(5) primary key,      
atributo1 tipo característica,     
atributo2 tipo característica,    
atributo3 tipo característica,     
> PRIMARY KEY (atributo1),     
> FOREGIN KEY (atributo2) REFERENCE tabla_b (atributoX));      

* **2)** Listar bases de datos y tablas creadas   
> SHOW DATABASES;    
> SHOW TABLES;

* **3)** Acceso a bases de datos y tablas
> USE nueva_base;    
> USE TABLE nueva_tabla;     

* **4)** Pedir información de la tabla
> DESCRIBE nombre_tabla;

* **5)** Insertar nueva información en la tabla (indico las columnas y luego los valores)
> INSERT INTO nombre_tabla (edad, nombre, sexo) VALUES (33, Verónica, Femenino);

* **6)** Consultar información de una tabla  
> SELECT columna FROM nombre_tabla;   
> SELECT * FROM nombre_tabla;

* **7)** Filtrar información de una tabla    
Ordenes -> ORDER BY, GRIOUP BY, LIMIT(cantidad de resgistros que quiero obtener), OFSET (desde que registo comienzo)
> SELECT * FROM nombre_tabla WHERE columna=valor;    
> SLECT * FROM nombre_tabla ORDER BY columna LIMIT 5 OFSET 30

## Bloque 2: Modificar una tabla 

* **1)** Agregar columnas
> ALTER TABLE nombre_tabla ADD COLUMNS email varchar(30);
> ALTER TABLE nombre_tabla ADD COLUMNS edad numeric(2);

* **2)** Modificar nombre de columna
> ALTER TABLE nombre_tabla RENAME email TO e-mail

* **3)** Actualizar los valores de un registro ó fila
> UPDATE nombre_tabla SET atributo1= ---  WHERE atributo2="---"

### Comandos en SQLite (no finalizan en ";" )
* **1)** Abro la tabla o una base de datos   
> .open nombre_tabla   
* **2)** Salir de SQLite
> .exit
* **3)** Iniciar modo de vista en columnas   
> .mode column
* **4)**  Mostrar también las cabeceras   
> .header on
* **4)**  Ver el esquema o estructura de una tabla   
> .schema nombre_tabla